<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>Edit Category</h2>
	<a href="/home">Back to Home</a>
	<br/><br/>
			<table>

				<tr>
					<td>Name</td>
					<td><%= userName %></td>
				</tr>
        <tr>
					<td>Email</td>
					<td><%= userEmail %></td>
				</tr>
        <tr>
					<td>Concert Name</td>
					<td><%= concertName %></td>
				</tr>
        <tr>
					<td>Concert Date</td>
					<td><%= concertDateTime %></td>
				</tr>
        <tr>
					<td>Issue Date</td>
					<td><%= issueDate %></td>
				</tr>
        <tr>
					<td>Concert Venue</td>
					<td><%= concertVenue %></td>
				</tr>
        <tr>
					<td>Quantity</td>
					<td><%= ticketQuantity %></td>
				</tr>
        <tr>
					<td>Total Price</td>
					<td><%= totalPrice %></td>
				</tr>

			</table>
		</form>
</body>
</html>
